.image {
    width:240px;height:240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }

.footer {
  height: 240px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 5px;
    margin-right: 150px;
    margin-left: 80px;
  }

  .luxury {
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  .bio-text {
      font-weight: bold;
    }

body {
  background-image: linear-gradient(to bottom right, hsl(226, 58%, 54%), rgb(255, 255, 255));
  }

    /* Style buttons */
.btn {
    margin: auto;
    background-color: hsl(234, 82%, 47%);
    border: none;
    color: white;
    padding: 12px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 25px;
  }

  .btn2 {
    margin: auto;
    background-color: hsl(234, 82%, 47%);
    border: none;
    color: white;
    padding: 12px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
  }
  
  /* lighter background on mouse-over */
  .btn:hover {
    background-color: hsl(234, 100%, 90%);
    color: white;
  }

    /* lighter background on mouse-over */
    .column:hover {
      background-color: hsl(234, 100%, 90%);
      color: white;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }