<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pat Petrus's Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <!-- Boostrap Stylesheet -->
   <link rel="stylesheet" href="bootstrap.min.css" media="screen">
   <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="head">
        <div class="image">
            <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.6435-9/241112551_4452265461500167_4780547160928335592_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=-_HGOHSKIhwAX921mck&_nc_ht=scontent-ort2-1.xx&oh=4559a4129578c9a0cca1f8b4a6e75976&oe=615E73D6" alt="profile" style="width:240px;height:240px;">
        </div>
        <section>
            <h1 class="name">Pat Petrus</h1>
        </section>
        <section>
            <h2 class="headline">Data Analyst in New York, NY</h2>
        </section>

    </div>
    <div class=body>
        <section class="spotlight">
            <a href="https://github.com/patpetrus" target="_blank" rel="noopener noreferrer" class="button large dark primary" style="background-color:#006B96;border-color:#006B96">👨🏻‍💻 View my portfolio</a>
        </section>
        <section class="bio">
            <p>this is where the bio goes!</p>
        </section>
        <section class="interests">
            <p>links to music and writing projects go here!</p>
        </section>
        <section class="work">
            <p>linkedin, github, and other work accounts go here</p>
        </section>
        <section class="social_links">
            <p>socials go here</p>
        </section>
    </div>
</body>
</html>